@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardHighlight {
  min-height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#bg {
  background-image: url("./images/jaws.png");
  width: 300px;
  height: 300px;
}
#navbar {
  background-color: #54c2ee;
  width: 100%;
}
#navBrand {
  font-family: "Rubik Dirt";
  color: #aaa7a2;
}

a.nav-link {
  color: wheat;
  font-family: "Nanum Myeongjo";
}

@media (min-width: 768px) {
  #jumbotron {
    background-image: url("./images/jaws.png");
    background-repeat: no-repeat;
    position: relative;
    left: 15%;
    height: 100%;
    width: 100%;
  }
}

#banner {
  height: 20rem;
}
.bannerText {
  font-family: "Rubik Dirt";
  font-size: 3rem;
  color: #4b4a49;
  position: relative;
  bottom: 30%;
  right: 15%;
  text-align: center;
}

#btn {
  position: relative;
  align-content: center;
  width: 10rem;
  padding: 1rem;
  display: inline-block;
}
#registerForm {
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Nanum Myeongjo";
  color: #1e5162;
  position: relative;
  right: 40%;
  border-radius: 10%;
}
#titleRegister {
  font-family: "Nanum Myeongjo";
}
#regImg {
  background-image: url("./images/login.png");
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  left: 40%;
}
body {
  overflow-x: hidden;
}

#login {
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Nanum Myeongjo";
  color: #1e5162;
  position: relative;

  border-radius: 2%;
}

#logintitle {
  font-family: "Nanum Myeongjo";
}
